

.App{
  height:100vh;
   overflow: hidden;
   .sections{
     width:100%;
     height: calc(120vh - 72px);
     background-color:red;
     top:70px;
     scroll-behavior:smooth;
     scroll-snap-type: y mandatory;
     scrollbar-width:none; //for firefox
     &::-webkit-scrollbar{
       display: none; // chrome, age, safari
     }

     > *{
       width:100vw;
       height: calc(120vh - 72px);
scroll-snap-align: start;


     }
   }
}
.typing{
  color:#ee2879;
}